.products-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:10px;
    height: 350px;
    width:250px;
    overflow:hidden;
    box-shadow:0px 1px 4px -1px gray;
    
}
.Img{
    margin-left:37px;
    margin-top: 20px;
    width:150px;

}
img{
    width:150px;
    height:150px;
}
.details{
    padding:10px;
}
.details h6{
    font-size: 12px;

}
.rate{
    display: flex;
    
}
.star{
    margin-top: 4px;
    margin-right: 20px;
}
.rate .p1{
    font-size: 17px;
    font-weight: 400;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.493);
}
.cost{
    display: flex;
    margin-top: -10px;
}
.cost h5{
    font-size: 15px;
    margin-right: 18px;
}
.cost h6{
    font-size: 13px;
   
    color: rgba(0, 0, 0, 0.264);
    text-decoration:line-through;
}
.btn{
    border: none;
    margin-left: -9px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.btn button{
    background-color: #f3cf40;
    border:none;
    border-radius: 50px;
    width:190px;
    height:35px;
    border: 1px solid ;

}
button:hover{
    background-color: #060605;
    color:white;
}
.checked{
    color:#f3cf40;
}

.btn h4{
    margin:5px 10px 0px 10px ;
}
.btn .Inc-dec-btn{
    width:50px;
    border-radius: 5px;
}

@media (max-width:500px){
    .card{
        height:320px;
        width:220px;
        margin-right: 8px;
    }
    .btn button{
        width:200px;
        margin:0px;
    }
    .Img{
        width:130px;
        height:130px;
    }
    .Img img{
        height:120px;
    }
    .cost{
        display: flex;
        margin-top: -10px;
    }
    .cost h5{
        font-size: 12px;
        margin-right: 18px;
    }
    .cost h6{
        font-size: 12px;
       
        color: rgba(0, 0, 0, 0.264);
        text-decoration:line-through;
    }
}